<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>FastTrack</Name>
    <Version>6.2.4</Version>
    <Title>FastTrack Installer</Title>
    <Publisher>FastTrackOrg</Publisher>
    <StartMenuDir>FastTrack</StartMenuDir>
    <TargetDir>@HomeDir@/Program Files (x86)/FastTrack</TargetDir>
    <WizardStyle>Modern</WizardStyle>
    <StyleSheet>style.qss</StyleSheet>
    <Logo>logo.png</Logo>
    <ProductImages>
      <Image>preview_0.png</Image>
    </ProductImages>
    <RemoteRepositories>
    <Repository>
        <Url>https://www.fasttrack.sh/download/</Url>
    </Repository>
</RemoteRepositories>
</Installer>
